.whychoose {
  width: 100%;
  display: flex;
  height: 260px;
  margin-top: 20px;
}


.why-left {
  width: 40%;
  background: rgba(4, 31, 57, 1);
  color: white;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.why-left h1 {
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
}

.learnmore-btn {
  width: 140px;
  height: 42px;
  background: rgba(0, 140, 240, 1);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.why-right {
  width: 60%;
  background: rgba(0, 140, 240, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  text-align: center;
  color: white;
}

.item img {
  width: 55px;
  height: 55px;
  margin-bottom: 12px;
}

.item p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .whychoose {
    flex-direction: column;
    height: auto;
  }

  .why-left,
  .why-right {
    width: 100%;
    padding: 40px 0px;
    text-align: center;

  }

  .learnmore-btn {
    display: none;
  }

  .why-right {
    padding: 40px 0px;
    justify-content: space-evenly;
    gap: 50px;
  }
}



@media (min-width: 1920px) {
  .whychoose {
    width: 100%;
    max-width: 1920px;
    height: 300px;
    gap: 20px;
  }

  .why-left {
    width: 40%;
  }

  .why-left h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .learnmore-btn {
    width: 160px;
    height: 50px;
    font-size: 16px;
  }

  .why-right {
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }

  .item img {
    width: 70px;
    height: 70px;
  }

  .item p {
    font-size: 16px;
    line-height: 22px;
  }
}