.callnow-section {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;

}

.callnow-container {

  display: flex;
  align-items: center;
margin-left: 5%;
  gap: 25px;
}

.callnow-image img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.callnow-content {

    padding: 0px 40px;
  background: #0a8cff;
  height: 300px;
  border-radius: 20px;
  color: #fff;
  margin: 50px;

  
  
}

.callnow-content h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 30px 0px;
}

.callnow-content p {
  font-size: 15px;
  margin-bottom: 25px;
  opacity: 0.95;
}

.callnow-btn {
  background: #fff;
  color: black;
  border: none;
  padding: 12px;
  font-size: 13px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.callnow-btn:hover {
  background: black;
  color: #fff;
}


/* RESPONSIVE */

@media (min-width: 1920px) {
  .callnow-section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 60px 0px;
  
  }

  .callnow-container {
    gap: 40px;
    margin-left: 0; 
    justify-content: space-between;
  }

  .callnow-image img {
    width: 500px;
    height: 350px;
  }

  .callnow-content {
    
    height: 350px;
    margin: 0; 
  }

  .callnow-content h2 {
    font-size: 32px;
        margin-top: 40px;

  }

  .callnow-content p {
    font-size: 16px;
        margin-top: 40px;

  }

  .callnow-btn {
    margin-top: 40px;
    font-size: 14px;
    padding: 14px 20px;
  }
}

@media (max-width: 480px) {
  .callnow-section {
    padding-left: 5%; 
  }

  .callnow-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 0;
  }

  .callnow-image img {
    width: 90%;
  }

  .callnow-content {
    width: 80%;
    height: auto;
    padding: 20px;
    margin-right: 23%;
    text-align: center;
  }

  .callnow-content h2 {
    font-size: 24px;
    margin: 20px 0;
  }

  .callnow-content p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .callnow-btn {
    width: 80%;
    padding: 12px;
    font-size: 13px;
  }
}
