.services {
  width: 100%;
  padding: 60px 0;
  background: #f6f9fc;
  text-align: center;
}

.services-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #1a1a1a;
}

.services-grid {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.service-card {
  width: 300px;
  padding: 25px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: .3s ease;
  cursor: pointer;

}


.service-card:hover {
  transform: translateY(-15px);
}

.service-banner {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.service-content {
  text-align: left;
  position: relative;
}

.service-tag {

  background: #007bff;
  border-radius: 0px 0px 40px 0px;
  margin-top: -80px;
  position: absolute;

}

.service-tag img {
  width: 60px;
  height: 60px;
  position: absolute;


}

.service-title {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 10px;
}

.service-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.service-link {
  font-size: 14px;
  font-weight: 600;
  color: #007bff;
  cursor: pointer;
}

.service-link:hover {
  text-decoration: underline;
}



@media (min-width: 1920px) {
  .services {
    width: 100%;
    max-width: 1920px;

  }

  .services-title {
    font-size: 48px;
    margin-bottom: 60px;
  }

  .services-grid {
    gap: 100px;
  }

  .service-card {
    width: 350px;
    padding: 30px;
  }

  .service-banner {
    height: 220px;
  }

  .service-title {
    font-size: 22px;
  }

  .service-desc {
    font-size: 16px;
  }

  .service-tag img {
    width: 70px;
    height: 70px;
  }
}