.wc-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 8%;
  gap: 60px;
  background: #ffffff;
}

.wc-left-section {
  width: 48%;
  position: relative;
}

.wc-plumber-image {
  position: relative;
  width: 100%;
}

.wc-plumber-image img {
  width: 100%;
  height: auto;
  border-radius: 14px;
  object-fit: cover;
}

.wc-right-section {
  width: 50%;
}

.wc-tag {
  display: inline-block;
  font-size: 10px;
  border: 2px solid black;
  padding: 5px 20px;
  border-radius: 16px;
}

.wc-main-heading {
  font-size: 36px;
  font-weight: 700;
  color: #111;
  margin-top: 18px;
  line-height: 1.2;
}

.wc-subheading {
  margin-top: 12px;
  color: #555;
  max-width: 460px;
  line-height: 1.6;
}

.wc-features {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.wc-feature-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.wc-icon-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  background: #e8f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wc-feature-content h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.wc-feature-content p {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
  line-height: 1.5;
}

.wc-cta-button {
  margin-top: 34px;
  padding: 14px 26px;
  background: rgba(4, 31, 57, 1);
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.wc-cta-button:hover {
  background: rgba(0, 140, 240, 1);
}


/* RESPONSIVE */

@media (max-width: 480px) {
  .wc-container {
    flex-direction: column;
    text-align: center;

  }

  .wc-left-section,
  .wc-right-section {
    width: 100%;
  }

  .wc-features {
    align-items: center;
  }

  .wc-feature-item {
    justify-content: center;
  }

  .wc-experience-badge {
    bottom: 14px;
    left: 14px;
  }

  .wc-main-heading {
    font-size: 30px;
  }
}


@media (min-width: 1920px) {

  .wc-left-section,
  .wc-right-section {
    width: 100%;
    margin-right: 40px;

  }

}